APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:js7pCxu4H5Sryi7DIaiGUcVbhYM1xybAzY2LdaeVDZ8=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=sail
DB_PASSWORD=password

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

CACHE_DRIVER=redis


BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="no-reply@f5ra.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

MEILISEARCH_HOST=http://meilisearch:7700
SCOUT_DRIVER=meilisearch

CART_TTL_SECONDS=1209600
CART_CURRENCY=JPY
CART_MAX_QTY=20

# Cart/Checkout behavior
CART_CLEAR_ON_PAYMENT_SUCCESS=true
ORDER_PENDING_TTL_MINUTES=60
# CHECKOUT_ORDER_ON_PAYMENT=true


MYSQL_EXTRA_OPTIONS=


STRIPE_SECRET=sk_test_51S6MXvRuLwRmj2vMld9Vjar3IrxX3jDPsH3dNViXOBjD1oAQ3bXnliRPs35Rd55ovUSMzEEzX9wYWWCZ9H2iG3EX002DMNRib9
STRIPE_WEBHOOK_SECRET=whsec_8bab94232ed0eddfa3189ae2724529e6aadaccd70ea4a303610e1def4181743b
STRIPE_SUCCESS_URL=http://localhost/checkout/thanks/{ORDER_NO}
STRIPE_CANCEL_URL=http://localhost/checkout/cancel/{ORDER_NO}
STRIPE_PUBLISHABLE_KEY=pk_test_51S6MXvRuLwRmj2vMwfyUpAnYBkzHEu7jKEw0jlOrGKDNlwfbiW4HEAXVVMK0SXDS5CjeDI8cuOMw7kSqsS18vH9x00qIxJcXcQ



# divine-smooth-prompt-scenic
# acct_1S6MXvRuLwRmj2vM

STRIPE_ALLOW_REFUNDS=true
